*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --fs-global: 1.6rem;
    --fs-heading-primary: 4rem;
    --fs-heading-secondary: 2rem;
    
    --ff-body: 'Palanquin', sans-serif;
    --ff-heading: 'Staatliches', cursive;

    --fc-header-heading: hsl(0, 0%, 100%);
    --fc-body: hsl(274, 84%, 12%);

    --bg-header: hsl(218, 17%, 62%);
    --bg-header-heading: hsl(275, 18%, 79%);
    --bg-heading-card: hsl(312, 91%, 96%);
}

body{
    font-size: var(--fs-global);
    font-family: var(--ff-body);
}

h1, h2{
    font-family: var(--ff-heading);
    font-weight: 400;
}

h1{
    font-size: var(--fs-heading-primary);
    line-height: 3.4rem;
    letter-spacing: 0.05em;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

h2{
    font-size: var(--fs-heading-secondary);
    line-height: 3.4rem;

    letter-spacing: 0.05em;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.2rem 0 0 ;

    background-color: var(--bg-header);
}

header img{
    width: 13.7rem;
    padding-bottom: 3.2rem;
}

header h1{
    text-align: center;
    padding: 8px 0;
    width: 100%;
    background-color: var(--bg-header-heading);
    color: var(--fc-header-heading);
    margin-bottom: 3rem;
}

header p{
    text-align: center;
    font-size: var(--fs-heading-secondary);
    line-height: 2.5rem;
    color: var(--fc-body);
    background-color: var(--fc-header-heading);

    padding: 1.4rem 0 0;
}

.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 95%;
    margin: 6rem auto 6rem;
}



main{
    max-width: 100%;
    display: grid;
    gap: 3.2rem;

    /* animation: downtop 700ms 175ms backwards; */
}

.card{
    position: relative;

    animation: downtop 700ms 175ms backwards;

    transition: all 700ms;
}

.card:hover{
    transform: scale(1.05);
}

.card img{
    transition: 700ms;
}

.card img:hover{
    opacity: 0.9;
    transform: skewY(2deg);
}

.card img{
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

.card .img-type-a{
    height: 25rem;
}

.card .img-type-b{
    height: 45rem;
}

.card h2{
    background-color: var(--bg-heading-card);
    border-radius: 2rem;
    width: fit-content;
    padding: 0 2.4rem;

    text-transform: uppercase;

    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    animation: topdown 700ms 350ms backwards;
}

footer{
    display: none;
    margin: 5rem 0;
}

@media (min-width: 48rem){
    :root{
        --fs-heading-primary: clamp(1rem, 4vw, 4rem);
        --fs-heading-secondary: clamp(1.4rem, 2vw, 2rem);
    }
    .gridDesk{
        display: flex;
    }

    header{
        max-width: clamp(30rem, 28vw, 37.7rem);
        height: 100vh;

        animation: leftright 700ms 350ms backwards;
    }

    header img{
        max-width: clamp(10rem, 1vw, 13.7rem);
        animation: rotate 10s 2s infinite;
    }

    header h1{
        padding: 2rem 0;
    }
    
    header p{
        /* padding: 0 4.8rem; */
        color: var(--bg-heading-card);
        background-color: var(--bg-header);
        padding-inline: clamp(1.4rem, 3vw, 4.8rem);

        font-size: 1.4rem;
        font-weight: 400;
        text-align:center;
        line-height: 2.4rem;
    }

    .page{
        margin: 6rem auto 0;
    }

    main{
        display: grid;
        gap: clamp(1rem, 1vw, 3.2rem);
        grid-template-areas:
        'A B C'
        'D B E'
        'D F E';

        padding: 0 clamp(1rem, 3vw, 9rem);
    }

    main div:nth-child(1){
        grid-area: A;
    }
    main div:nth-child(2){
        grid-area: B;
    }
    main div:nth-child(3){
        grid-area: C;
    }
    main div:nth-child(4){
        grid-area: D;
    }
    main div:nth-child(5){
        grid-area: F;
    }
    main div:nth-child(6){
        grid-area: E;
    }

    .card .img-type-a{
        height: clamp(10rem, 13vw, 25rem);
    }
    
    .card .img-type-b{
        height: clamp(20rem, 26vw, 45rem);
    }

    .card h2{
        border-radius: 2rem;
        width: fit-content;
        line-height: clamp(1.4rem, 2vw, 2rem);
        padding: 5px clamp(1.4rem, 1vw, 2.4rem);
    
        top: clamp(0.5rem, 1vw, 1.6rem);
        right: clamp(0.5rem, 1vw, 1.6rem);
    }

    footer{
        display: block;
        margin: 5rem 0;
        color: hsl(232, 17%, 35%);
    }

}

@keyframes downtop{
    0%{
        opacity: 0;
        transform: translateY(1.5rem);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes topdown{
    0%{
        opacity: 0;
        transform: translateY(-1.5rem);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes leftright{
    0%{
        opacity: 0;
        transform: translateX(-1.5rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rotate{
    0%{
        transform: rotateY(360deg);
    }
}